@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar-brand {
  margin-right: 20px;
  color: #FFFFFF !important;
  font-family: "Kanit", sans-serif !important;
  font-size: 26px !important;
  letter-spacing: -1px;
  line-height: 32.78px !important;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.navbar-brand:hover {
  color: #FF1493 !important;
}

.nav-link {
  white-space: nowrap;
}

.mainNavBar a {
  font-family: Manrope !important;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.78px;
  color: #FFFFFF !important;
  transition: all 0.3s ease;
}
.mainNavBar a:hover {
  color: #FF1493 !important;
}

.headerNavbarButton {
  margin-top: 10px;
  font-size: 24px !important;
  font-family: Manrope !important;
  font-weight: 500 !important;
  line-height: 32.78px;
  width: 239px !important;
  height: 65px !important;
  padding: 12px 24px 16px 24px !important;
  border-radius: 50px !important;
  color: #FF1493 !important;
  border: 1px solid #FF1493 !important;
  background-color: transparent !important;
}
.headerNavbarButton:hover {
  color: #FFFFFF !important;
  background-color: #FF1493 !important;
}

.navbar-toggler {
  border: none !important;
  background-color: #FF1493 !important;
}
.navbar-toggler:focus {
  color: #FF1493 !important;
}

.offcanvas {
  background-color: #000000 !important;
}

.offcanvas-title {
  margin-right: 20px;
  color: #FFFFFF !important;
  font-family: "Kanit", sans-serif !important;
  font-size: 26px !important;
  letter-spacing: -1px;
  line-height: 32.78px !important;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.btn-close {
  background-color: #FF1493 !important;
  opacity: 1 !important;
}

.pink-section {
  background-color: #000000;
  height: 1080px;
  padding-left: 20px;
  padding-right: 10px;
}

.navbar {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbar-nav .nav-item {
  margin-right: 25px !important;
}

.section-text {
  font-family: Manrope;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 50px;
  margin-left: 20px;
  color: #FFFFFF;
  animation: fadeIn 2.5s forwards;
  cursor: default;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-subtext {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  margin-top: 50px;
  font-family: Manrope;
  color: #FFFFFF;
  animation: fadeIn 2.8s forwards;
}

.sectionNavbarButton {
  margin-top: 30px;
  font-size: 24px !important;
  font-family: Manrope !important;
  font-weight: 500 !important;
  line-height: 32.78px;
  width: 277px !important;
  height: 81px !important;
  padding: 12px 24px 16px 24px !important;
  border-radius: 50px !important;
  color: #FF1493 !important;
  border: 1px solid #FF1493 !important;
  background-color: transparent !important;
  transition: all 0.3s ease;
  animation: fadeIn 3s forwards;
}
.sectionNavbarButton:hover {
  color: #FFFFFF !important;
  background-color: #FF1493 !important;
}

.main-section {
  height: 1080px;
  background-color: #000000;
  cursor: default;
}

.header-text {
  font-family: Manrope;
  font-size: 66px;
  font-weight: 600;
  line-height: 91.2px;
  margin-left: 50px;
  padding-bottom: 200px;
  padding-top: 20px;
  background: linear-gradient(90deg, #e82e8b, #9d259d, #ffd2e8);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s linear infinite;
}

.circle {
  padding-bottom: 20px !important;
}

.content-div > h1 {
  color: #FAFAFA;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.71px;
}

.content-div > p {
  color: #999999;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.outer-circle {
  width: 40px;
  height: 40px;
  background-color: #fe76ba;
  border-radius: 50%;
  position: relative;
}

.middle-circle {
  width: 28px;
  height: 28px;
  background-color: #fabdfa;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-circle {
  width: 20px;
  height: 20px;
  background-color: #ffe6f2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-div-one {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 300px;
}

.content-div-two {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 500px;
}

.content-div-three {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 700px;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.about-section {
  border-radius: 0 0 50px 50px;
  height: 600px;
  background-color: #000000;
  cursor: default;
}

.high-content {
  font-family: Manrope;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: #FFFFFF;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 400px;
}

.about-us {
  margin-bottom: 50px;
}

.link-content > p {
  font-family: Manrope;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.78px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.icon-circle > img {
  width: 30px;
  height: 30px;
}

.hover-button:hover .icon-circle {
  background-color: #FF1493;
}

.hover-button:hover .link-content p {
  color: #FF1493;
}

.second-content {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 41.6px;
  color: #FFFFFF;
  margin-bottom: 100px;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 400px;
}

.all-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #e82e8b;
  border-radius: 40px;
}

.pink-header {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.035em;
  padding-bottom: 20px;
  margin-left: 10%;
  color: #FFFFFF;
}

.separator-wrapper, .text-container {
  width: 95%;
  margin: 0 auto;
}

.text-wrapper {
  margin-bottom: 20px;
}

.separator-wrapper {
  margin-top: 20px;
  background-color: #FFFFFF;
}

.text-container {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.number {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  padding-left: 100px !important;
}

.procent-section {
  position: relative;
  bottom: 20px;
  z-index: -1;
  height: 600px;
  background-color: #ffffff;
}

.pink-container {
  padding-top: 80px;
}

.info-section {
  border-radius: 50px 50px 0 0;
  background-color: #000000;
  height: 1251px;
}

.info-title {
  padding-top: 50px;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 700;
  line-height: 60.8px;
  color: #FFFFFF;
  cursor: default;
}

.info-container {
  padding-top: 50px;
}

.info-cards {
  padding-top: 20px;
  background-color: #FFFFFF;
  border-radius: 24px;
  height: 187px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion-item {
  margin-bottom: 40px;
  border-radius: 24px !important;
}

.accordion-button {
  min-height: 187px;
  width: 100%;
  text-align: left;
  border-radius: 24px !important;
  border: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button h1 {
  font-family: Manrope;
  font-size: 96px;
  font-weight: 700;
  line-height: 91.2px;
  margin-right: 20px;
}

.accordion-button p {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
}

.accordion-body {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 41.6px;
  cursor: default;
}

.accordion-item:not(.collapsed) .accordion-button {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.accordion-container {
  padding-top: 60px;
  width: 70%;
  margin: 0 auto;
}

.accordion-item {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 200px;
}

.login-section {
  background-color: #000000;
  height: 957px;
}

.login-container {
  height: 627px;
}

.form-login {
  width: 80%;
}

.form-login ::-moz-placeholder {
  color: #FFFFFF !important;
  font-family: Manrope;
  font-size: 24px !important;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: -0.01em;
}

.form-login ::placeholder {
  color: #FFFFFF !important;
  font-family: Manrope;
  font-size: 24px !important;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: -0.01em;
}

.form-login input {
  color: #FFFFFF !important;
  font-family: Manrope;
  font-size: 24px !important;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: -0.01em;
}

.form-text {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.8px;
  letter-spacing: -0.01em;
  color: #999999 !important;
  cursor: default;
}

.header-login {
  padding-top: 10px;
}

.header-login h1 {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 41.6px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  cursor: default;
}

.header-login h3 {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  padding-bottom: 5px;
  margin-top: 0px !important;
  cursor: default;
}

.custom-input {
  border: none !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  margin-top: -5px;
}

.custom-input:focus {
  box-shadow: none !important;
  outline: none;
}

.login-button {
  font-family: Manrope;
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 32.78px !important;
  width: 173px;
  height: 65px;
  border-radius: 50px !important;
  border: 1px solid #FF1493 !important;
  background-color: transparent !important;
}
.login-button:hover {
  background-color: #FF1493 !important;
}

.custom-section {
  height: 427px !important;
  border-radius: 15px;
  background-color: #222425;
}

.login-text {
  padding-left: 40px;
}

.photo-container img {
  border-radius: 15px;
}

.footer-section {
  min-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-column {
  padding-top: 30px !important;
}

.footer-column a,
.footer-column p {
  text-decoration: none !important;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.2s ease;
}
.footer-column a:hover,
.footer-column p:hover {
  color: #FF1493 !important;
  cursor: pointer;
}

.footer-column span {
  color: #FF1493;
  transition: all 0.2s ease;
}
.footer-column span:hover {
  filter: brightness(1.4);
}

.footer-column h5 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #999999;
  cursor: default;
}

.footer-copyright img {
  width: 260px;
  height: 103px;
}

.footer-copyright p {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #999999;
  cursor: default;
}

.footer-divider {
  height: 2px;
  background-color: #E5E5E5;
}

.footer-design a {
  text-decoration: none;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  color: #999999;
  line-height: 26px;
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar-nav {
    margin-top: 20px;
  }
  .headerNavbarButton {
    margin-top: 20px !important;
  }
  .section-text {
    font-size: 35px;
    margin-left: 20px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 32px;
  }
  .section-subtext {
    font-size: 16px;
    margin-top: 30px;
  }
  .header-text {
    font-size: 28px;
    font-weight: 600;
    line-height: 26.6px;
    letter-spacing: -0.035em;
    padding-bottom: 50px;
    margin-left: 20px;
  }
  .content-div > h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.32px;
  }
  .content-div > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
  }
  .pink-section {
    height: 1080px;
  }
  .high-content {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: -0.035em;
  }
  .about-us {
    margin-bottom: 30px;
  }
  .link-content > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
    margin-left: 10px !important;
  }
  .icon-circle {
    width: 42px;
    height: 42px;
  }
  .icon-circle > img {
    width: 20px;
    height: 20px;
  }
  .second-content {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 20px !important;
  }
  .text-container {
    font-size: 16px;
    font-weight: 500;
    line-height: 27.32px;
  }
  .number {
    font-size: 40px;
    font-weight: 500;
    padding-left: 0 !important;
  }
  .all-wrapper {
    background-color: #e82e8b;
  }
  .accordion-button h1 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 45.6px;
  }
  .accordion-button p {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }
  .accordion-body {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
  }
  .photo-container {
    padding-bottom: 20px;
  }
  .header-login h1 {
    font-size: 24px !important;
    font-weight: 600;
    line-height: 24px;
    padding-top: 10px;
  }
  .header-login h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
    margin-bottom: 5px !important;
  }
  .form-text {
    font-family: Manrope;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 16.39px;
    padding-top: 0px;
  }
  .form-login ::-moz-placeholder {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 17.6px;
    letter-spacing: -0.01em;
  }
  .form-login ::placeholder {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 17.6px;
    letter-spacing: -0.01em;
  }
  .form-login input {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 17.6px;
    letter-spacing: -0.01em;
  }
  .login-button {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 21.86px !important;
    width: 115px;
    height: 38px;
  }
  .footer-column a,
  .footer-column p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    transition: all 0.2s ease;
  }
  .footer-column a:hover,
  .footer-column p:hover {
    color: #FF1493 !important;
    cursor: pointer;
  }
  .footer-column span {
    color: #FF1493;
    transition: all 0.2s ease;
  }
  .footer-column span:hover {
    filter: brightness(1.4);
  }
  .footer-column h5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
  }
  .footer-copyright p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
  }
  .footer-design a {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
  }
  .footer-copyright img {
    width: 117px;
    height: 48px;
  }
}
@media (min-width: 500px) and (max-width: 766px) {
  .section-text img {
    width: 50%;
    height: auto;
  }
  .procent-section {
    height: 900px;
  }
}
@media (max-width: 767.98px) {
  .footer-bottom .col-md-6 {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .procent-section {
    height: 1000px;
  }
}
@media (min-width: 766px) and (max-width: 976px) {
  .number {
    padding-left: 100px !important;
  }
}
@media (max-width: 1200px) {
  .header-login {
    padding-top: 10px;
  }
  .header-login h3 {
    margin-bottom: 10px !important;
  }
  .form-text {
    padding-top: 0px;
  }
}
@media (min-width: 1800px) {
  .procent-section {
    height: 600px;
  }
  .pink-container {
    padding-top: 80px;
  }
}/*# sourceMappingURL=style.css.map */